div > p:first-child {
    margin-top: 0;
    }
div > p:last-child {
    margin-bottom: 0;
    }
#userFilters {
    box-sizing: border-box;
    height: 50vh!important;
    text-align: left;
    width: 100%;
    word-wrap: normal;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
