#filter-template {
    display: none;
}


button.custom {
    border: 1px solid transparent;
    border-color: #80b3ff #80b3ff hsl(216, 100%, 75%);
    border-radius: 3px;
    background-color: hsl(216, 100%, 75%);
    background-image: linear-gradient(#a8cbff, #80b3ff);
    background-repeat: repeat-x;
    color: #222;
    cursor: pointer;
    opacity: 0.8;
}
button.custom.disabled {
    border-color: #dddddd #dddddd hsl(36, 0%, 85%);
    background-color: hsl(36, 0%, 72%);
    background-image: linear-gradient(#f2f2f2, #dddddd);
    color: #aaa;
    pointer-events: none;
}
button.custom:hover {
    opacity: 1.0;
}
button.custom.reloadAll:not(.disabled) {
    border-color: #ffcc7f #ffcc7f hsl(36, 100%, 73%);
    background-color: hsl(36, 100%, 75%);
    background-image: linear-gradient(#ffdca8, #ffcc7f);
}



#filterListsHeader {
    height: 25px;
    min-width: 800px;
    clear: both;
    position: relative;
    font-size: 15px;
    cursor: default;
    margin-top: 30px;
}
#filterListsHeader div {
    border-bottom: 1px solid #d3d3d3;
}

.listColumn {
    float: left;
    text-align: center;
    margin-right: 10px;
    min-height: 22px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listRow {
    min-height: 20px;
    min-width: 800px;
    clear: both;
    margin-top: 5px;
}

.deleteColumn {
    width: 45px;
    height: 20px;
}
.deleteColumn .subscriptionRemoveButton:not(.disabled) {
    width: 20px;
    height: 16px;
    margin: 2px auto;
    background-image: url("../img/bucket.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.inUseColumn {
    width: 45px;
}
.inUseColumn input {
    width: 15px;
    height: 15px;
}
.onOffColumn {
    width:95px;
}
.nameColumn {
    width: 200px;
}
.groupColumn {
    width: 180px;
}
.updateColumn {
    width: 150px;
}
.subscriptionUpdate {
    color: #B0B0B0;
    cursor: default;
    width: 100%;
    height: 100%;
}
.subscriptionUpdate[error] {
    color: #FF0000;
}

.updating .subscriptionUpdate,
.listColumn.filter-updating {
    display: none;
}

.updating .listColumn.filter-updating {
    width: 100%;
    height: 100%;
    display: block;
}
@keyframes spin {
    100% { transform: rotate(360deg); -webkit-transform: rotate(360deg); }
}
.updating .listColumn.filter-updating > span {
    transform-origin: 50% 46%;
    animation: spin 2s linear infinite;
    display: inline-block;
}

.default-enabling-control {
    width: 60px;
    height: 22px;
    cursor: pointer;
    margin: 0 auto;
}
.default-enabling-control .default-enabling-icon {
    margin: 0 auto;
    width: 100%;
    height: 22px;
    width: 40px;
    cursor: pointer;
    background: url('../img/switcher_on.png');
    background-repeat: no-repeat;
}
.default-enabling-control.disabled .default-enabling-icon {
    background: url('../img/switcher_off.png');
    background-repeat: no-repeat;
}
.nameColumn a {
    text-decoration: underline;
    cursor: pointer;
    color: #222222;
}
.groupField {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
.groupField::-webkit-input-placeholder {
    text-align: center;
}





#addSubscriptionContainer,
#customSubscriptionContainer {
    display: none;
}

#customSubscriptionContainer {
    margin-top: 20px;
}

#addSubscription .ui-icon {
    margin-top: -9px;
}
#addSubscription .ui-button-text {
    padding: 0 1em 0 1.5em;
}

select option:disabled {
    color: #000000;
    background-color: lightgrey;
}
select option.selected {
    background-color: rgba(76, 187, 88, 0.37);
}


#showBlockedWrap {
    margin-top: 20px;
}










ul {
    padding: 0;
    list-style-type: none;
    }
#options {
    margin-top: 0;
    }
#options li {
    margin-bottom: 0.5em;
    }
#lists {
    margin: 0.5em 0 0 0;
    padding-left: 1em;
    padding-right: 0em;
    }
body[dir=rtl] #lists {
    padding-left: 0em;
    padding-right: 1em;
    }
#lists > li {
    margin: 0.5em 0 0 0;
    padding: 0;
    font-size: 15px;
    list-style-type: none;
    }
#lists > li > ul {
    margin: 0.25em 0 0 0;
    }
li.listDetails {
    font-size: 14px;
    margin: 0 auto 0 auto;
    margin-left: 1em;
    margin-right: 0em;
    }
body[dir=rtl] li.listDetails {
    margin-left: 0em;
    margin-right: 1em;
    }
li.listDetails > * {
    unicode-bidi: embed;
    }
li.listDetails > a:nth-of-type(2) {
    font-size: 13px;
    opacity: 0.5;
    }
.dim {
    opacity: 0.5;
    }
/* I designed the button with: http://charliepark.org/bootstrap_buttons/ */
/*button.custom {*/
    /*padding: 5px;*/
    /*border: 1px solid transparent;*/
    /*border-color: #80b3ff #80b3ff hsl(216, 100%, 75%);*/
    /*border-radius: 3px;*/
    /*background-color: hsl(216, 100%, 75%);*/
    /*background-image: linear-gradient(#a8cbff, #80b3ff);*/
    /*background-repeat: repeat-x;*/
    /*color: #222;*/
    /*cursor: pointer;*/
    /*opacity: 0.8;*/
    /*}*/
/*button.custom.disabled {*/
    /*border-color: #dddddd #dddddd hsl(36, 0%, 85%);*/
    /*background-color: hsl(36, 0%, 72%);*/
    /*background-image: linear-gradient(#f2f2f2, #dddddd);*/
    /*color: #aaa;*/
    /*pointer-events: none;*/
    /*}*/
/*button.custom:hover {*/
    /*opacity: 1.0;*/
    /*}*/
/*button.custom.reloadAll:not(.disabled) {*/
    /*border-color: #ffcc7f #ffcc7f hsl(36, 100%, 73%);*/
    /*background-color: hsl(36, 100%, 75%);*/
    /*background-image: linear-gradient(#ffdca8, #ffcc7f);*/
    /*}*/
#buttonApply {
    position: fixed;
    display: initial;
    top: 1em;
    right: 1em;
    }
body[dir=rtl] #buttonApply {
    right: auto;
    left: 1em;
    }
#buttonApply.disabled {
    display: none;
    }
span.status {
    margin: 0;
    border: 1px solid transparent;
    padding: 1px 2px;
    display: inline-block;
    font-size: 11px;
    opacity: 0.7;
}
span.purge {
    border-color: #ddd;
    color: #444;
    background-color: #eee;
    cursor: pointer;
    }
span.purge:hover {
    opacity: 1;
    }
span.obsolete {
    border-color: hsl(36, 100%, 73%);
    color: #222;
    background-color: hsl(36, 100%, 75%);
    }
#externalListsDiv {
    margin: 2em auto 0 2em;
    }
body[dir=rtl] #externalListsDiv {
    margin: 2em 2em 0;
    }
#externalLists {
    font-size: smaller;
    width: 48em;
    height: 8em;
    white-space: pre;
    }
body #busyOverlay {
    background-color: transparent;
    bottom: 0;
    cursor: wait;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    }
body.busy #busyOverlay {
    display: block;
    }
#busyOverlay > div:nth-of-type(1) {
    background-color: white;
    bottom: 0;
    left: 0;
    opacity: 0.75;
    position: absolute;
    right: 0;
    top: 0;
    }
#busyOverlay > div:nth-of-type(2) {
    background-color: #eee;
    border: 1px solid transparent;
    border-color: #80b3ff #80b3ff hsl(216, 100%, 75%);
    border-radius: 3px;
    box-sizing: border-box;
    height: 3em;
    left: 10%;
    position: absolute;
    bottom: 75%;
    width: 80%;
    }
#busyOverlay > div:nth-of-type(2) > div:nth-of-type(1) {
    background-color: hsl(216, 100%, 75%);
    background-image: linear-gradient(#a8cbff, #80b3ff);
    background-repeat: repeat-x;
    border: 0;
    box-sizing: border-box;
    color: #222;
    height: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    width: 25%;
    }
#busyOverlay > div:nth-of-type(2) > div:nth-of-type(2) {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    line-height: 3em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    }



#options div[type="checkbox"] {
    top: 2px;
    position: relative;
}

.subscriptionInUse {
    position: relative;
    top: 3px;
}