@font-face {
    font-family: "Roboto-regular";
    src: url(fonts/Roboto-Regular.ttf) format("truetype");
}

body {
    font-family: Roboto-regular, Arial, Helvetica, sans-serif;
    font-size: 13px;
    /*padding: 20px;*/
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    background-color: #eeeeee;
}

td {
    font-size: 13px;
    vertical-align: middle;
    text-align: left;
}

p {
    margin-top: 0.5em;
}

button {
    white-space: pre;
}

.table {
    display: table;
}
.table-cell {
    display: table-cell;
}

.full {
    width: 100%;
    height: 100%;
}
.full-width {
    width: 100%;
}

.vertical-middle {
    vertical-align: middle;
}

.light-grey {
    color: #A6ADB0;
}


.button {
    color: #E4574C;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    margin: 5pt;
    padding: 6pt 10pt;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-radius: 2px;
}
.button.grey {
    background-color: #EEEFEF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
}
.button.grey:hover {
    background-color: #E0E1E2;
}
.button.btn-red {
    background-color: #E45A50;
    color: #ffffff;
}


#dashboard_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 40%;*/
    height: 325px;
    z-index: 1;
    background-color: rgb(0, 142, 212);
}


#wrapper {
    width: 100%;
    min-width: 925px;
    height: 100%;
    position: relative;
    z-index: 5;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}


#content-wrapper {
    width: 75%;
    min-width: 900px;
    height: 100%;
}

#title {
    height: 100px;
    width: 100%;
    z-index: 5;
    position: relative;
    box-sizing: border-box;
    padding: 0 0 10px 25px;
}
.dashboard-header {
    height: 84px;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}
.dashboard-title-logo {
    height: 50px;
}
.dashboard-header-title {
    color: #ffffff;
    font-size: 22px;
    padding-bottom: 5px;
    margin-left: 20px;
    cursor: default;
}

#content {
    width: 100%;
    height: calc(100% - 180px);
    min-height: 500px;
    min-width: 900px;
    box-sizing: border-box;
    position: relative;
    border: none;
    border-radius: 2px;
    background-color: white;
    z-index: 5;
    box-shadow: 0 4px 7px -2px rgba(0, 0, 0, 0.25);
}




#tabs {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 0;
    border: none;
    background-color: white;
    z-index: 5;
}
#tabs_nav {
    height: 50px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid lightgray;
    background: initial;
}
#tabs_nav li {
    float: left;
    font-family: Roboto-regular;
    list-style: none;
    color: #6BAC6F;
}
#tabs_nav li a {
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav li {
    display: table;
    vertical-align: middle;
    text-align: center;
    margin: 0!important;
    padding: 0!important;
    width: 20%;
    height: 100%;
    border: none!important;
    border-radius: 0;
    top: 0!important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: white;
}
li.ui-state-default.ui-state-hover {
    background: #d1e5d3;
}
li.ui-state-default.ui-state-active.ui-tabs-selected {
    color: white;
    background: #49854f;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 0;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    float: none;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #6BAC6F;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: white;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    cursor: default;
}




#panels {
    width: 100%;
    height: calc(100% - 95px);
    position: relative;
}
#panels .ui-tabs-panel {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 0;
}
#panels iframe {
    width: 100%;
    height: 100%;
    position: relative;
    border: none;
}



#content_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 10pt 1.4em;
    box-sizing: border-box;
}

#content_footer_controls {
    position: relative;
    float: right;
    height: 100%;
    vertical-align: middle;
}

.content-footer-control {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    float: left;
    margin-right: 5pt;
    font-size: 23px;
    vertical-align: middle;
    color: #6B6B6B!important;
}

#content_footer_logo {
    width: 110px;
    height: 28px;
    background-image: url("../img/footer_logo_b.png");
}
.twiet:hover {
    color: #29c5f6!important;
}
.github:hover {
    color: #000!important;
}
.linkedin:hover {
    color: #238cc8!important;
}




#footer {
    position: relative;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding: 0 15pt;
    box-sizing: border-box;
    font-size: 8.5pt;
}
#footer span {
    cursor: default;
    color: #3A3A3A;
}
#footer a, #footer a:hover, #footer a:active, #footer a:focus, #footer a:visited {
    color: #7d7d7d;
    text-decoration: none;
}