body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /*padding: 20px;*/
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    background-color: #eeeeee;
}

td {
    font-size: 13px;
    vertical-align: middle;
    text-align: left;
}

p {
    margin-top: 0.5em;
}

button {
    white-space: pre;
}

.table {
    display: table;
}
.table-cell {
    display: table-cell;
}

.full {
    width: 100%;
    height: 100%;
}
.full-width {
    width: 100%;
}

.vertical-middle {
    vertical-align: middle;
}

.light-grey {
    color: #A6ADB0;
}



#dashboard_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    min-height: 300px;
    z-index: 1;
    background-color: #6BAC6F;
}

#title {
    height: 100px;
    margin-left: 11%;
    z-index: 5;
    position: relative;
}



#tabs {
    height: calc(100% - 160px);
    min-height: 350px;
    width: 80%;
    min-width: 900px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 0;
    border: none;
    background-color: white;
    z-index: 5;
}
#tabs_nav {
    height: 50px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid lightgray;
    background: initial;
}
#tabs_nav li {
    float: left;
}
.ui-tabs .ui-tabs-nav li {
    display: table;
    vertical-align: middle;
    text-align: center;
    margin: 0!important;
    padding: 0!important;
    width: 20%;
    height: 100%;
    border: none!important;
    border-radius: 0;
    top: 0!important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: white;
}
li.ui-state-default.ui-state-hover {
    background: #d1e5d3;
}
li.ui-state-default.ui-state-active.ui-tabs-selected {
    color: white;
    background: #49854f;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 0;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    float: none;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #6BAC6F;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: white;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    cursor: default;
}




#panels {
    width: 100%;
    height: calc(100% - 55px);
    position: relative;
}
#panels .ui-tabs-panel {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
#panels iframe {
    width: 100%;
    height: 100%;
    position: relative;
    border: none;
}






#dashboard_footer {
    position: relative;
    width: 80%;
    min-width: 900px;
    height: 60px;
    margin: 0 auto;
}




















/*html, body {*/
    /*margin: 0;*/
    /*border: 0;*/
    /*padding: 0;*/
    /*font: 15px httpsb, sans-serif;*/
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*font-size: 13px;*/
    /*padding: 20px;*/
/*}*/

/*#dashboard-nav {*/
    /*margin: 0;*/
    /*border: 0;*/
    /*padding: 0;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*top: 0;*/
    /*height: 50px;*/
    /*z-index: 10;*/
/*}*/

/*#dashboard-nav-widgets {*/
    /*margin: 0;*/
    /*border-bottom: 1px solid #ccc;*/
    /*padding: 4px 0 0;*/
    /*white-space: nowrap;*/
    /*background-color: white;*/
/*}*/

/*#dashboard-nav-widgets span {*/
    /*padding: 0 0.5em;*/
    /*font-size: larger;*/
/*}*/

/*.tabButton {*/
    /*margin: 0;*/
    /*border: 1px solid #ccc;*/
    /*border-top-left-radius: 3px;*/
    /*border-top-right-radius: 3px;*/
    /*border-bottom: 1px solid #ccc;*/
    /*padding: 4px;*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*top: 1px;*/
    /*color: black;*/
    /*background-color: #eee;*/
    /*font: inherit;*/
    /*cursor: pointer;*/
    /*text-decoration: none;*/
/*}*/

/*.tabButton:focus {*/
    /*outline: 0;*/
/*}*/

/*.tabButton:active, .tabButton:visited {*/
    /*color: inherited;*/
/*}*/

/*.tabButton.selected {*/
    /*border-bottom: 1px solid white;*/
    /*background-color: white;*/
    /*border-bottom: 1px solid white;*/
/*}*/

/*iframe {*/
    /*margin: 0;*/
    /*border: 0;*/
    /*padding: 0;*/
    /*background-color: transparent;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*border-top: 50px solid transparent;*/
    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
/*}*/
