@font-face {
    font-family: "Roboto-regular";
    src: url(fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto-medium";
    src: url(fonts/Roboto-Medium.ttf) format("truetype");
}

html, body {
    font-family: Roboto-regular, Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    background-color: rgb(160, 160, 160);
}


#wrapper {
    width: 100%;
    height: 100%;
    min-width: 600px;
    min-height: 510px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 65px 0 0 0;
}

#main-dialog {
    width: 600px;
    min-width: 600px;
    margin-bottom: 60px;
    background-color: #FFFFFF;
    overflow: hidden;
    box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.26);
}

#header {
    width: 100%;
    height: 180px;
    box-sizing: border-box;
    background-color: #e55a50;
    padding: 16px;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .header-control {
    width: 120px;
    height: 120px;
}
#header  .header-control > img {
    width: 100%;
    height: 100%;
}

#dialog_content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#dialog_content .content-header {
    width: 100%;
    height: 290px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 26px 16px;
    cursor: default;
}
#dialog_content .content-header .content-header-title {
    font-size: 24px;
    line-height: 28px;
    font-family: Roboto-regular;
    color: rgba(0, 0, 0, 0.37);
    margin-bottom: 18px;
    padding: 0 16px;
}
#dialog_content .content-header .content-header-text {
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.87);
    padding: 0 16px;
}

#dialog_content .content-header .controls-row {
    display: flex;
    align-items: center;
    padding-top: 30px;
}
#dialog_content .content-header .controls-row:not(:last-child) {
    padding-bottom: 30px;
}
#dialog_content .content-header .controls-row.row-center {
    justify-content: center;
}
#dialog_content .content-header .controls-row .cancel-btn {
    background-color: #6bad6f;
    font-family: Roboto-medium;
    font-size: 14px;
    line-height: 16px;
    padding-top: 3px;
    text-transform: uppercase;
}
#dialog_content .content-header .controls-row .details-btn {
    font-family: Roboto-regular;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: rgba(0,0,0,.56);
}
#dialog_content .content-header .controls-row .details-btn:focus {
    background-color: transparent;
}

#content {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    display: none;
}
#content.active {
    display: block;
}


.content-item {
    width: 100%;
    box-sizing: border-box;
    padding: 24px 32px;
    word-break: break-all;
    word-break: break-word;
    cursor: default;
}
.content-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.content-item .content-item-title {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 8px;
}
.content-item .content-data {
    color: rgba(0, 0, 0, 0.54);
    line-height: 22px;
    font-size: 14px
}


#footer {
    width: 100%;
    height: 52px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    padding: 8px 16px;
    display: flex;
}

.footer-btn {
    height: 36px;
    box-sizing: border-box;
    color: #e55a50;
    font-size: 14px;
    font-family: Roboto-medium;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgba(230, 137, 137, 0);
    letter-spacing: -0.4px;
    cursor: pointer;
    border-radius: 2px;
}
.footer-btn:not(:last-child) {
    margin-right: 8px;
}
.footer-btn.cancel-btn {
    color: #ffffff;
    background-color: #e55a50;
    margin-left: auto;
}




.mCSB_inside > .mCSB_container {
    margin-right: 16px!important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.37);
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.37);
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.37);
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}
