@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto-medium";
    src: url(fonts/Roboto-Medium.ttf) format("truetype");
}

html, body {
    width: 360px;
    min-height: 300px;
    max-height: 600px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



.bg-grey {
    background-color: rgba(240, 242, 244, 1);
}
.bg-blue {
    background-color: rgba(33, 145, 208, 1);
}
.bg-blue-70 {
    background-color: rgba(33, 145, 208, .7);
}
.bg-blue-60 {
    background-color: rgba(33, 145, 208, .6);
}
.bg-blue-56 {
    background-color: rgba(33, 145, 208, .56);
}
.bg-blue-30 {
    background-color: rgba(33, 145, 208, .3);
}
.bg-blue-37 {
    background-color: rgba(33, 145, 208, .37);
}

.bg-protection-status-dark {
    background-color: rgba(83, 149, 88, 1);
}
.bg-protection-status-light {
    background-color: rgba(107, 173, 111, 1);
}
body.protection-off .bg-protection-status-dark {
    background-color: rgba(216, 80, 78, 1);
}
body.protection-off .bg-protection-status-light {
    background-color: rgba(229, 90, 80, 1);
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-20-24 {
    font-size: 20px;
    line-height: 24px;
}

/******* tooltips *******/
.material-tooltip {
    background-color: rgba(0, 0, 0, 0.56);
    font-family: Roboto-medium;
    font-size: 10px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.87);
    padding: 2px 8px;
    min-height: 25px;
}

/******* Statusbar *******/

#statusbar {
    width: 100%;
    height: 24px;
    background-color: rgb(27, 121, 173);
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 13px;
    line-height: 1.15;
    color: #ffffff;
    cursor: default;
}
body.protection-off #statusbar {
    background-color: rgba(229, 90, 80, 1);
}
#statusbar .today-blocked {
    flex: 1;
}
#statusbar .protection-status {
    text-align: right;
}
/* These classes we're using in a statusbar and in a Protection tab's plate. */
.protection-status-on,
.protection-status-off {
    text-transform: uppercase;
}
body.protection-off .protection-status-on,
body:not(.protection-off) .protection-status-off {
    display: none;
}
#statusbar .protection-status-icon {
    width: 12px;
    height: 15px;
    margin-left: 11px;
    display: flex;
    align-items: center;
}
#statusbar .protection-status-icon img {
    height: 12px;
}


/******* Page *******/

#pages_wrapper {
    overflow: auto;
    width: 100%;
    height: 524px;
}

.page {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
}
.page:not(.active) {
    display: none;
}


/******* HEADER *******/

.header {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    line-height: 24px;
    color: #ffffff;
    background-color: #2191D0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.header a {

}
.header .header-btn {
    color: #FFFFFF;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.header .header-btn:not(:first-child) {
    margin-left: 16px;
}
.header .header-title {
    font-family: Roboto-medium;
    font-size: 20px;
    font-weight: 500;
    padding: 0 0 0 35px;
    cursor: default;
    flex: 1;
}

.header .back-btn {
    height: 30px;
    position: relative;
}
.header .back-btn > i {
    font-size: 30px;
    width: 100%;
    height: 100%;
    left: -3px;
    position: relative;
}


/******* Search bar *******/

#search_bar {
    width: 100%;
    height: 80px;
    padding: 16px 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #2191D0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    position: relative;
}

#search_input {
    width: 100%;
    height: 100%;
    font-family: Roboto;
    font-size: 16px;
    padding: 12px 45px 12px 16px;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: linear-gradient(to top, rgba(221, 221, 221, 0), rgba(221, 221, 221, 0) 80%, rgba(221, 221, 221, 0.86) 97%, #dddddd);
}
#search_input::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
    font-size: 14px;
    color: rgba(0, 0, 0, 0.38);
}
#search_input::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    color: rgba(0, 0, 0, 0.38);
}
#search_input:focus {
    outline: none;
    border: none;
}
#search_input:hover {
    outline: none;
    border: none;
}
#search_bar i {
    position: absolute;
    top: 28px;
    right: 18px;
    cursor: pointer;
    color: #2191D0;
}

/******* Main page *******/

.main-content {
    width: 100%;
    height: 387px;
}

.main-content .tabs {
    background-color: #2191D0;
    height: 66px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
}
.main-content .tabs .tab {
    width: 50%;
    height: 66px;
}
.main-content .tabs .tab a {
    color: #ffffff;
    font-family:  Roboto;
    display: flex;
    flex-direction:  column;
    padding: 6px 12px;
    line-height: 20px;
    opacity: 0.7;
}
.main-content .tabs .tab a.active {
    opacity: 1;
    border-bottom: 4px solid #ffffff;
}
.main-content .tabs .tab a svg,
.main-content .tabs .tab a img {
    height: 24px;
}
.main-content .tabs .tab a span {
    margin-top: 6px;
    letter-spacing: 0.8px;
}
.main-content .tabs .indicator {
    background-color: #ffffff;
    height: 4px;
}



.tab-frame {
    width: 100%;
    height: 322px;
    overflow: auto;
    position: relative;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tab-frame:not(.active) {
    display: none;
}


.main-tabs-slider {
    width: 100%;
    height: 322px;
    overflow: hidden;
    position: relative;
}

/******* Protection tab *******/

.plates-row {
    width: 100%;
    height: 142px;
    margin-bottom: 8.5px;
    display: flex;
    justify-content: space-between;
}
.plate {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
    position: relative;
}
.plate.full-plate {
    width: 100%;
    height: 100%;
}
.plate.mid-plate {
    width: calc(50% - 4px);
    height: 100%;
}
.plate.invisible-plate {
    box-shadow: none;
    background-color: transparent;
}
.plate.sm-wide-plate {
    width: 100%;
    height: calc(50% - 4px); /* 8px margins between top and bottom sm plates in a mid plate */
}
.plate.sm-wide-plate.invisible-plate {
    flex-direction: row;
}

.plates-row.plates-sm-row {
    height: 67px;
}
.plates-row.plates-sm-row .plate.sm-wide-plate {
    height: 100%;
    width: calc(50% - 4px);
}

.plate .plate-content {
    flex: 1;
    padding: 16px 16px 0;
    cursor: default;
}
.plate.sm-wide-plate .plate-content {
    padding: 13px 16px 0;
}
.plate .plate-content .plate-content-title {
    color: #ffffff;
}
.plate.bg-grey .plate-content-title,
.plate .plate-content-title.color-grey {
    color: rgba(0, 0, 0, 0.56);
}
.plate .plate-content .plate-content-text {
    color: #ffffff;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
}
.plate.blocked-on-site-plate .plate-content-text {
    font-size: 32px;
    line-height: 38px;
}
.plate.sm-wide-plate .plate-content-text {
    font-size: 22px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.87);
}
.plate .plate-content .plate-content-text img,
.plate .plate-content .plate-content-text svg {
    height: 30px;
    margin-right: 5px;
}
#pause_site_btn {
    cursor: pointer;
}

.plate .plate-content .plate-content-inner .switch {
    margin-bottom: 24px;
}
.plate .plate-content .plate-content-inner .switch:first-child {
    margin-top: 12px;
}
.plate .plate-content .plate-content-inner .switch label {
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
}
.plate .plate-content .plate-content-inner .switch label span.lever {
    margin-right: 14px;
}


.plate .plate-footer {
    height: 52px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.56);
    cursor: default;
}
.plate .plate-footer .plate-footer-btn {
    width: 48px;
    height: 48px;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    top: 2px;
    left: 6px;
}
.plate .plate-footer .plate-footer-btn.waves-custom-grey .waves-ripple {
    background-color: rgba(0,0,0,0.08);
}
.plate .plate-footer .plate-footer-btn:hover {
    background-color: rgba(0,0,0,0.06);
}
.plate .plate-footer .plate-footer-btn img,
.plate .plate-footer .plate-footer-btn svg {
    height: 100%;
}
.waves-effect.waves-brand .waves-ripple {
    background-color: #2191D0;
}


.plate .plate-content.full-height-content {
    padding: 16px;
}


.plate .btn-floating {
    position: absolute;
    top: 60px;
    left: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#protection_status_btn img {
    width: 24px;
    height: 24px;
}
#protection_status_btn {
    background-color: rgba(229, 90, 80, 1);
}
.protection-off #protection_status_btn {
    background-color: rgba(107, 173, 111, 1);
}





#protection_tab  {
    padding-right: 0;
}
#protection_tab .mCSB_inside > .mCSB_container {
    margin-right: 15px;
    padding-right: 4px;
}
#protection_tab .plates-row {
    margin-left: 2px;
}

/******* Protection stopped, Share dialog *******/

.protection-stopped-dialog, .share-dialog {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.37);
    box-sizing: border-box;
    padding: 17px 37px;
    display: none;
    align-items: center;
}
body.protection-stopped .main-tabs-slider[data-active-tab="protection_tab"] .protection-stopped-dialog,
body.share-active .main-tabs-slider[data-active-tab="protection_tab"] .share-dialog {
    display: flex;
}
body.share-active .main-tabs-slider[data-active-tab="protection_tab"] .protection-stopped-dialog {
    display: none;
}
.protection-stopped-inner,
.share-dialog-inner {
    width: 100%;
    /* height: 100%; */
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.26);
    padding: 22px 20px;
}
.share-dialog-inner {
    padding: 16px;
}

.protection-stopped-title {
    font-family: Roboto-medium;
    font-size: 20px;
    color: rgba(229, 90, 80, 1);
    cursor: default;
}
.protection-stopped-content {
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 10px;
    margin-bottom: 25px;
    cursor: default;
}
.protection-stopped-controls {
    width: 100%;
    display: flex;
    justify-content: center;
}
#protection_stopped_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(107, 173, 111, 1);
}
#protection_stopped_btn img {
    width: 24px;
    height: 24px;
}


.share-dialog-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.share-dialog-header .share-dialog-title {
    font-family: Roboto-medium;
    font-size: 20px;
    line-height: 24px;
    color: #2191D0;
    cursor: default;
    margin-left: 5px;
}
.share-dialog-header .share-dialog-close-btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.share-dialog-controls {
    margin-top: 5px;
}
.share-dialog-control {
    height: 56px;
    display: flex;
    align-items: center;
}
.share-dialog-control .share-btn {
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}
.share-dialog-control .share-btn svg {
    width: 40px;
    margin-right: 16px;
}
.share-dialog-control .share-btn.share-facebook:hover svg .fb-svg-icon {
    fill: #3a589b;
    opacity: 1;
}
.share-dialog-control .share-btn.share-twitter:hover svg .twitter-svg-icon {
    fill: #598dca;
    opacity: 1;
}
.share-dialog-control .share-btn.share-linkedin:hover svg .linkedin-svg-icon {
    fill: #007ab9;
    opacity: 1;
}
.share-dialog-control .share-btn > span {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
}


/******* Search tab (specific) *******/

.plate.sm-plate {
    width: calc(50% - 4px);
    height: 100%;
}

#search_tab .plate.bg-grey:hover {
    background-color: #ffffff;
}
#search_tab .plate.bg-blue-70:hover,
#search_tab .plate.bg-blue-60:hover {
    background-color: rgba(33, 145, 208, 1);
}

#search_tab .plate .plate-content {
    color: #ffffff;
    cursor: pointer;
}
#search_tab .plate.mid-plate .plate-content {
    padding: 0;
}
#search_tab .plate .plate-content-text {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}
#search_tab .plate-content-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 4px;
}

#search_tab .mid-plate.bg-grey .plate-content-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 48px;
    left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search_tab .plate-content-icon i {
    font-size: 34px;
    color: rgba(33, 145, 208, 1);
}

#search_tab .plate-content-bottom-block {
    width: 100%;
    height: 48px;
    position: absolute;
    bottom: 0;
    padding: 12px;
}

#search_tab .plate-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#search_tab .videos-plate-bg {
    background-image: url("../img/popup/videos-plate.svg");
}
#search_tab .maps-plate-bg {
    background-image: url("../img/popup/maps-plate.svg");
}
#search_tab .images-plate-bg {
    background-image: url("../img/popup/images-plate.svg");
}



/******* SIDENAV menu *******/

.sidenav-header {
    width: 100%;
    height: 123px;
    color: #ffffff;
    padding: 31px 18px 0;
    cursor: default;
}
.sidenav-logo {
    width: 110px;
    height: 40px;
}
.sidenav-logo > img {
    height: 100%;
}
.sidenav-heder-title {
    font-size: 20px;
    line-height: 24px;
    font-family: Roboto-medium;
    margin-top: 5px;
}
.close-sidenav-btn {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 14px;
    width: 24px;
    height: 24px;
}

#slide-out.sidenav .subheader {
    color: rgba(0,0,0,0.56);
    font-family: Roboto-medium;
}
#slide-out.sidenav .divider {
    margin: 8px 0;
}
.sidenav li > a {
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-family: Roboto-medium;
}
.sidenav li > a svg,
.sidenav li > a img {
    width: 24px;
    height: 24px;
    margin-right: 28px;
}


/******* PROTECTION LISTS *******/

.protection-lists-page-content {
    overflow: auto;
    width: 100%;
    height: calc(100% - 56px);
}

.protection-lists {
    box-shadow: none;
    border: none;
}

.collapsible-item .collapsible-header {
    border: none;
    padding: 16px;
    height: 72px;
    align-items: center;
}

.switch label .lever {
    margin: 0 18px 0 0;
    background-color: rgba(34, 31, 31, 0.26);
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: rgba(107, 173, 112, 0.36);
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: rgba(107, 173, 111, 1);
}

.collapsible-item-header-content {
    flex: 1;
}
.collapsible-item-header-content .collapsible-item-title {
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
}
.collapsible-item-header-content .collapsible-item-subtitle {
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.54);
}

.filter-counts {
    font-size: 12px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.collapsible-item-chevron-icon {
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
}
.collapsible-item-chevron-icon img {
    width: 24px;
    height: 24px;
}
.collapsible-item:not(.active) .collapsible-item-chevron-icon > img {
    transform: rotate( 0deg );
    transition: transform 400ms ease;
}
/*.collapsible-item.active:not(.empty-filter) .collapsible-item-chevron-icon > img {*/
    /*transform: rotate( -180deg );*/
    /*transition: transform 400ms ease;*/
/*}*/
.collapsible-item.active .collapsible-item-chevron-icon > img {
    transform: rotate( -180deg );
    transition: transform 400ms ease;
}
/*.collapsible-item.empty-filter .collapsible-item-chevron-icon {*/
    /*opacity: 0.4;*/
/*}*/

.collapsible-item .collapsible-body {
    max-height: 200px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px 12px 13px 20px;
    /*overflow: auto;*/
    overflow: hidden;
}
.collapsible-item.empty-filter .collapsible-body {
    /*padding: 0;*/
    /*border: none;*/
}

.collapsible-item-body-row {
    display: flex;
    align-items: center;
    height: 24px;
    color: rgba(0, 0, 0, 0.56);
    font-size: 13px;
    line-height: 24px;
    cursor: default;
    margin-right: 18px;
}
.collapsible-item-body-row:not(:last-child) {
    margin-bottom: 13px;
}
.collapsible-item-body-row .rule-radio {
    height: 100%;
    width: 24px;
    margin-right: 26px;
    position: relative;
}
.rule-radio > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.collapsible-item-body-row .rule-radio [type="radio"]:not(:checked)+span:before,
.collapsible-item-body-row .rule-radio [type="radio"]:not(:checked)+span:after {
    border: 2px solid rgba(1, 1, 1, .54);
}
.collapsible-item-body-row .rule-radio [type="radio"]:checked+span:after,
.collapsible-item-body-row .rule-radio [type="radio"].with-gap:checked+span:before,
.collapsible-item-body-row .rule-radio [type="radio"].with-gap:checked+span:after {
    border: 2px solid rgba(107, 173, 111, 1);
}
.collapsible-item-body-row .rule-radio [type="radio"]:checked+span:after,
.collapsible-item-body-row .rule-radio [type="radio"].with-gap:checked+span:after {
    background-color: rgba(107, 173, 111, 1);
}


.collapsible-item-body-row .rule-title {
    flex: 1;
    padding-right: 15px;
}


.adding-more-lists-block {
    margin-top: 32px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 20px 15px 100px 15px;
    cursor: default;
}
.adding-more-lists-title {
    font-family: Roboto-medium;
    color: rgba(0,0,0,0.54);
    margin-bottom: 15px;
}


/******* Floating action button *******/


.fixed-action-btn {
    bottom: 65px;
}
.fixed-action-btn .btn-floating {
    background-color: #2191d0;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24);
}

.fixed-action-btn .btn-floating .material-icons {
    display: none;
}
#protection_lists_page.content-changed .fixed-action-btn .btn-floating .content-refresh-icon {
    display: inline-block;
}
body.protection-off #protection_lists_page .fixed-action-btn .btn-floating .protection-disabled-icon,
body.protection-stopped #protection_lists_page .fixed-action-btn .btn-floating .protection-disabled-icon {
    display: inline-block;
}
body:not(.protection-off):not(.protection-stopped) #protection_lists_page:not(.content-changed) .fixed-action-btn .btn-floating .add-filter-icon {
    display: inline-block;
}

#protection_lists_page.content-changed .fixed-action-btn .btn-floating,
body.protection-off #protection_lists_page .fixed-action-btn .btn-floating {
    background-color: #6bad6f;
}

body.system-page #protection_lists_page .fixed-action-btn .btn-floating {
    background-color: #2191d0;
}
body.system-page #protection_lists_page .fixed-action-btn .btn-floating i.material-icons {
    display: none;
}
body.system-page #protection_lists_page .fixed-action-btn .btn-floating i.material-icons.add-filter-icon {
    display: inline-block;
}


/******* Cookies tab *******/

#cookies_tab {
    padding: 0;
}
#cookies_tab .plates-row {
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 12px;
}
#cookies_tab .plates-row .plate.domain-cookies-plate {
    background-color: #fbac29;
}
#cookies_tab .plates-row .plate.domain-cookies-plate .plate-content-text {
    font-size: 18px;
}
#cookies_tab .plates-row .plate.domain-cookies-plate .plate-content-text .domain-cookies-count {
    font-size: 36px;
    top: -3px;
    position: relative;
    margin-right: 5px;
}
#cookies_tab .plates-row .plate.domain-cookies-plate.whitelisted-domain {
    background-color: rgba(0,0,0, .08);
}
#cookies_tab .plates-row .plate.domain-cookies-plate.blacklisted-domain {
    background-color: rgba(0,0,0, .56);
}
#cookies_tab .domain-cookies-plate.whitelisted-domain .plate-content-text,
#cookies_tab .domain-cookies-plate.whitelisted-domain .plate-content-title {
    color: rgba(0,0,0,.56);
}
#cookies_tab .domain-cookies-plate.whitelisted-domain .plate-content-title {
    font-weight: bold;
}
#cookies_tab .plates-row .plate .plate-footer {
    display: flex;
    align-items: center;
}
#cookies_tab .plate .plate-footer  .plate-footer-btn {
    height: 36px;
    width: auto;
    text-transform: uppercase;
    color: #fbac29;
    font-weight: 500;
    padding: 6px;
}
#cookies_tab .plate .plate-footer .plate-footer-btn:not(:last-child) {
    margin-right: 5px;
}
#cookies_tab .plate .plate-footer .plate-footer-btn.text-btn {
    padding: 10px;
    border-radius: 2px;
}
#cookies_tab .plate .plate-footer .plate-footer-btn:hover {
    background-color: rgba(153, 153, 153, 0.2);
}
#cookies_tab .domain-cookies-plate.whitelisted-domain .domain-cookies-whitelist-btn,
#cookies_tab .domain-cookies-plate.blacklisted-domain .domain-cookies-blacklist-btn {
    color: rgba(0,0,0,.32);
    cursor: default;
}
#cookies_tab .domain-cookies-plate.whitelisted-domain .domain-cookies-whitelist-btn:hover,
#cookies_tab .domain-cookies-plate.blacklisted-domain .domain-cookies-blacklist-btn:hover {
    background-color: transparent;
}
#cookies_tab .plate:not(.whitelisted-domain):not(.blacklisted-domain) .plate-footer .plate-footer-btn.domain-cookies-reset-btn {
    display: none;
}

#cookies_tab .plate .btn-floating {
    position: absolute;
    left: auto;
    right: 32px;
}

#domain_cookies_remove_btn {
    background-color: #f08303;
}
body.no-cookies #domain_cookies_remove_btn {
    background-color: #ececec;
    cursor: default;
}
body.no-cookies #domain_cookies_remove_btn:hover {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#domain_cookies_remove_btn img {
    width: 24px;
    height: 24px;
}
#domain_cookies_remove_btn img.trash-grey-icon {
    opacity: .56;
}
body:not(.no-cookies) #domain_cookies_remove_btn .trash-grey-icon,
body.no-cookies #domain_cookies_remove_btn .trash-white-icon{
    display: none;
}

#cookies_tab .domain-cookies-list {
    margin: 0;
    border: 0;
    box-shadow: none;
}
body.no-cookies #cookies_tab .domain-cookies-list .collapsible-item .collapsible-header {
    cursor: default;
}
body.no-cookies #cookies_tab .collapsible-item-chevron-icon {
    opacity: .56;
    cursor: default;
}
#cookies_tab .domain-cookies-list .collapsible-item .collapsible-body {
    padding-left: 16px;
    border: none;
    max-height: none;
}
#cookies_tab .domain-cookies-list .collapsible-item-body-row {
    margin-right: 10px;
}
#cookies_tab .domain-cookies-list .cookie-name {
    flex: 1;
    padding-right: 15px;
}

#cookies_tab .domain-cookies-list .cookie-control {
    width: 24px;
    height: 24px;
    opacity: 0.8;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#cookies_tab .domain-cookies-list .cookie-control:hover {
    opacity: 1;
    background-color: rgba(153, 153, 153, 0.2);
}
/* TODO: Current selector must be removed after correct icon will be received */
#cookies_tab .domain-cookies-list .cookie-control.cookie-details-btn img {
    width: 18px;
    height: 18px;
}


#cookies_tab .settings-container {
    padding: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
#cookies_tab .settings-container .setting-item {
    width: 100%;
    display: flex;
    align-items: center;
}
#cookies_tab .settings-container .setting-item:not(:last-child) {
    margin-bottom: 20px;
}
#cookies_tab .setting-item .setting-icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}
#cookies_tab .setting-item .setting-content {
    flex: 1;
    cursor: default;
}
#cookies_tab .setting-item .setting-state-switcher .switch label .lever {
    margin-right: 10px;
}
#cookies_tab .setting-item .setting-title {
    font-size: 16px;
    line-height: 24px;
}
#cookies_tab .setting-item .setting-subtitle {
    color: rgba(0,0,0,0.54);
}

#cookies_tab .advanced-settings-container {
    padding: 20px 16px 70px;
    cursor: default;
}
#cookies_tab .adv-container-title {
    line-height: 16px;
    margin-bottom: 18px;
    color: rgba(0,0,0,0.37);
}
#cookies_tab span.advanced-settings-btn {
    cursor: pointer;
    color: #2191d0;
}


/******* FOOTER *******/

#footer {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#footer .footer-btn {
    height: 36px;
    width: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer-btn.share-btn img {
    height: 16px;
    width: 16px;
}
#footer .footer-btn.logo {
    width: 50px;
}
#footer .footer-btn.logo img {
    height: 16px;
}
#footer .footer-btn.fav-btn img {
    height: 24px;
    width: 24px;
}


/******* Custom scrollbars *******/

.mCSB_inside > .mCSB_container {
    margin-right: 0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.37);
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.37);
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.37);
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}