body {
    min-width: 250px;
    min-height: 298px;
    width: 350px;
    margin: 0px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #545454;
    background-color: #eeefef;
}

body.local #enabled,
body.local #clickhide,
body.local #stats-page {
    display: none;
}

ul {
    margin: 0px;
    padding: 0px;
}
li {
    cursor: pointer;
    list-style-type: none;
    white-space: nowrap;
    border-top: 1px dashed #a5a4a1;
}
li ul {
    margin-left: 35px;
}
li li {
    cursor: default;
    padding: 10px 15px;
}

#stats strong {
    font-size: 15px;
    line-height: 140%;
}

label {
    vertical-align: middle;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clear {
    clear: both;
}
.hidden {
    display: none!important;
}
.left {
    float: left;
}


header {
    height: 55px;
    border-bottom: 1px solid #e1ddd8;
    background-color: #444a4c;
}
header .hdr-privacy-status {
    float: left;
    height: 100%;
    font-size: 1.3em;
    line-height: 14pt;
    margin-left: 15px;
    cursor: default;
    color: #2c5b72;
    /*font-weight: bold;*/
    /*padding: 10px 0 0;*/
    box-sizing: border-box;
}
header .hader-logo {
    width: 147px;
    height: 23px;
    padding-top: 5px;
}
header .hader-logo > img {
    width: 100%;
}
header .hdr-privacy-status a {
    /*color: #0ea8b3;*/
    color: #6bad70;
    font-size: 0.8em;
}
header .hdr-buttons {
    float: right;
    height: 100%;
}
.hdr-buttons .hdr-btn {
    display: inline-block;
    float: right;
    width: 18px;
    height: 18px;
    margin: 17px 25px 0 0;
    vertical-align: top;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}
.hdr-buttons .options-button {
    background-image: url(../img/settings_icon.png);
    margin-right: 15px;
}
.hdr-buttons .close-button {
    background-image: url(../img/close_icon.png);
}
.hdr-buttons .options-button:hover,
.hdr-buttons .close-button:hover {
    /*opacity: 0.7;*/
}


#wrapper {
    width: 100%;
    position: relative;
}

.stat-wrapper {
    width: 100%;
    height: 50px;
    line-height: 25px;
    background-color: white;
    border-bottom: 1px solid #e1ddd8;
    -webkit-box-shadow: 0 4px 8px -4px rgb(202, 202, 202);
    -moz-box-shadow: 0 4px 8px -4px rgb(202, 202, 202);
    box-shadow: 0 4px 8px -4px rgb(202, 202, 202);
}
#stats-page {
    padding-left: 17px;
    height: 100%;
    width: 100%;
}
#stats-page .blocked-quantity {
    float: left;
    margin-right: 13px;
    height: 50px;
    max-width: 65px;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    font-size: 2.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    color: #6bad70;
}
#stats-page .blocked-quantity.empty {
    color: #6bad70;
}
#stats-page .blocked-info {
    height: 45px;
    width: calc(100% - 85px);
    float: left;
}
#stats-page .blocked-info span {
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    cursor: default;
    color: #727b81;
    margin-top: 8px;
    line-height: 17px;
}
#stats-page .tabDomain {
    font-size: 14px;
    height: 18px;
    max-width: 250px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 2px;
    cursor: default;
    color: #444a4c;
}




#whitelist_block {
    height: 130px;
    width: 100%;
    display: block;
    position: absolute;
    top: 51px;
}
#whitelist_block .whitelist-block-label {
    height: 25px;
    width: 50%;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0 45px 15px;
    cursor: default;
    color: #5b5c5d;
    font-size: 16px;
    background-image: url(../img/whitelist_block_icon.png);
    background-repeat: no-repeat;
    background-position: 0px 61px;
}


/************************** SUBSCRIPTIONS LIST  ***************************/
#subscription-list-wrapper {
    width: 100%;
    min-height: 130px;
    max-height: 350px;
    overflow: auto;
    box-sizing: border-box;
    padding: 3px 0;
}

.subscription {
    width: 100%;
    min-height: 50px;
    box-sizing: border-box;
    padding: 4px 7px;
}

.subscription > div {
    background-color: white;
    border-radius: 4px;
    /*border: 1px solid #D8D8D8;*/
    -webkit-box-shadow: 0 4px 8px -4px rgb(202, 202, 202);
    -moz-box-shadow: 0 4px 8px -4px rgb(202, 202, 202);
    box-shadow: 0 4px 8px -4px rgb(202, 202, 202);
}


/**** Subscription header ****/

.subscription-header {
    height: 100%;
    width: 100%;
    display: inline-block;
}

/**** Info container ****/
.subscription .info-container {
    width: 240px;
    height: 50px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.info-container .arrow {
    height: 20px;
    width: 20px;
    margin: 16px 10px 0px 10px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url('../img/arrow_right.png');
}
.info-container:hover .arrow {
    /*opacity: 0.7;*/
}
.info-container .arrow.down {
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}
.info-container:hover .arrow.down {
}

.info-container .subscription-text {
    height: 53px;
    display: table;
}
.info-container .subscription-text > div {
    display: table-cell;
    vertical-align: middle;
    max-width: 200px;
}
.info-container .subscription-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #444a4c;
    width: 100%;
    font-weight: bold;
    line-height: 1.2;
}
.info-container .subscription-group {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #727b81;
    text-transform: uppercase;
    line-height: 1.5;
}

span.subscription-usage-amount {
    display: none;
}
span.subscription-usage-amount.visible-amount {
    display: initial;
}

/**** Blocking button ****/
.subscription .blocking-control-container {
    height: 100%;
    width: 70px;
    display: inline-block;
    float: right;
}
.subscription .blocking-control-container .blocking-control {
    width: 60px;
    height: 22px;
    cursor: pointer;
    margin: 16px auto 12px auto;
}

.subscription .blocking-control .blocking-control-icon {
    height: 22px;
    width: 38px;
    cursor: pointer;
    background: url('../img/switcher_on.png');
    background-repeat: no-repeat;
    margin: auto;
}
.subscription .blocking-control.disabled .blocking-control-icon {
    background: url('../img/switcher_off.png');
}



/**** Filters list ****/
.subscription .filters-list {
    width: 100%;
    max-height: 150px;
    border-top: 1px solid #fafafa;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 8px;
}
.subscription .filters-list.disabled {
    display: none;
}
.filters-list > div {
    box-sizing: border-box;
    padding: 8px;
    height: 100%;
    max-height: 140px;
    overflow: auto;
}

.subscription .filters-list .filter {
    width: 100%;
    height: 20px;
    vertical-align: middle;
}
.subscription .filter .filter-url {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #727b81;
    cursor: default;
    margin: 2px 0 0 5px;
    width: 67%;
    float: left;
}
.subscription .filter .filter-url:hover {
    color: #454545;;
}

.subscription .filter .filter-counter {
    width: 16px;
    height: 16px;
    background-image: url('../img/grey-circle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    float: right;
    text-align: center;
    vertical-align: middle;
    font-size: 9px;
    line-height: 16px;
    cursor: default;
}
.subscription .filter .filter-counter.disabled {
    display: none;
}

.subscription .filter .filter-blocking-button {
    float: right;
    cursor: pointer;
    width: 22%;
    height: 15px;
    color: #e84853;
    text-align: center;
    text-transform: capitalize;
    margin-left: 5px;
}
.subscription .filter .filter-blocking-button.blocked {
    color: #6bad70;
    margin-left: 0px;
}


#notification, #menu {
    margin-bottom: 10px;
}
#notification {
    display: none;
    position: relative;
    margin-top: -70px;
    min-height: 50px;
    padding: 10px;
    color: #fff;
    border: 3px solid black;
    background-color: #555;
}
#notification.critical {
    border-color: #a4311c;
    background-color: #c72e12;
}
#notification.information {
    border-color: #1c5fa4;
    background-color: #1281c7;
}
#notification h1 {
    margin: 0px 15px 5px 0px;
    font-size: 15px;
}
#notification a {
    color: #fff;
}



footer {
    /*height: 90px;*/
    line-height: 25px;
    /*border-top: 1px solid #e1ddd8;*/
    background-color: #fafafa;
    padding-top: 1px;
}
footer #footer-btn-panel {
    width: 100%;
    height: 55px;
    display: inline-flex;
    top: 5px;
    position: relative;
    box-sizing: border-box;
    padding: 0 4px;
}
footer .footer-button {
    font-size: 13px;
    /*font-weight: bold;*/
    color: #fff;
    text-align: center;
    width: 142px;
    height: 45px;
    cursor: pointer;
    line-height: 3.7;
    margin-top: 3px;
    margin-left: 5px;
    display: inline-block;
    border: 1px solid #ddd;
    background-color: #444a4c;
    border-radius: 4px;
}
footer .footer-button.pressed {
    background-color: #6bad70;
}



footer .footer-button.disabled,
footer .footer-button.off {
    opacity: 0.5;
}




footer #pause-blocking-button {
    margin-left: 3px;
}
.footer-button.help-button {
    width: 75px;
    margin-right: 3px;
}

footer .button-icon {
    width: 15px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    margin: 14px -8px 0 12px;
    float: left;
}
footer .button-icon.pause-icon {
    background-image: url("../img/pause_icon.png");
    margin: 14px -5px 0 11px;
    width: 12px;
}
.footer-button.pressed .button-icon.pause-icon {
    background-image: url("../img/start_icon.png");
}
footer .button-icon.whitelist-icon {
    background-image: url("../img/whitelist_icon.png");
    margin: 14px -7px 0 12px;
}
.footer-button.pressed .button-icon.whitelist-icon {
    background-image: url("../img/whitelist_icon_pressed.png");
}
footer .button-icon.help-icon {
    background-image: url("../img/help_icon.png");
    margin: 14px -10px 0 10px;
}

footer .footer-button .button-label {
    display: inline-block;
}

footer #stats-total {
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    cursor: default;
    color: #444a4c;
    height: 30px;
    line-height: 38px;
}
footer #stats-total > span {
    color: #539558;
}

footer .reloader {
    width: 100%;
    height: 40px;
    line-height: 3.2;
    box-sizing: border-box;
    padding: 0 8px;
    margin: 10pt auto 2pt;
    color: #fff;
    cursor: default;
    position: relative;
}
footer .reloader.disabled {
    display: none;
}
footer .reloader > div {
    width: 100%;
    height: 100%;
    background-color: #e84853;
    border-radius: 2px;
    box-sizing: border-box;
    padding-left: 10px;
}
footer .reloader span {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
footer .reloader .reload-close {
    position: absolute;
    background: url('../img/notification_close_icon.png') no-repeat center;
    height: 20px;
    width: 20px;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
footer .reloader .reload-refresh {
    position: relative;
    background: url('../img/refresh.png') no-repeat center;
    height: 20px;
    width: 20px;
    margin: 7pt 3pt 0 0;
    cursor: pointer;
    float: left;
}
