html {
    height: 100vh;
    overflow: hidden;
    }
body {
    overflow: hidden;
    }
#whitelist {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 45vh!important;
    margin: 0;
    padding: 1px;
    position: relative;
    resize: vertical;
    }
#whitelist.invalid {
    border-color: red;
}
#whitelist textarea {
    border: none;
    outline: none;
    box-sizing: border-box;
    height: 100%;
    padding: 0.4em;
    resize: none;
    text-align: left;
    font-size: small;
    white-space: pre;
    width: 100%;
}
#whitelist textarea + div {
    background-color: red;
    bottom: 0;
    color: white;
    display: none;
    padding: 2px 4px;
    pointer-events: none;
    position: absolute;
    right: 0;
}
#whitelist.invalid textarea + div {
    display: block;
}
